GPS_DATA/
MATLAB_Scripts/Raw_Routes
MATLAB_Scripts/Route_Export_Results
MATLAB_Scripts/Route_Van_Comp_Img
MATLAB_Scripts/Van_GPS_Export
MATLAB_Scripts/to_dr_wilhelm
MATLAB_Scripts/Random_Images
MATLAB_Scripts/03_06_2023_ROSBAGS
*.asv
*.fig
*.png
*.zip
*.csv
/Delete
/MATLAB_Scripts/Delete
*.bag
